// Import Bootstrap functions and variables
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

:root {
    --bs-primary: #ff7f50;
    --bs-secondary: #ff7f50;
    --bs-success: #28a745;
    --bs-info: #17a2b8;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #343a40;
}

$primary: var(--bs-primary);
$secondary: var(--bs-secondary);
$success: var(--bs-success);
$info: var(--bs-info);
$warning: var(--bs-warning);
$danger: var(--bs-danger);
$light: var(--bs-light);
$dark: var(--bs-dark);

$font-family-base: 'Roboto', sans-serif;

// Import Bootstrap styles to apply the customizations
@import "node_modules/bootstrap/scss/bootstrap";